<?xml version="1.0" encoding="UTF-8"?>

<launch>
	
	<!-- Address of the computer connected to the Qualisys motion tracking system :
		"yokosan" or "192.168.1.183" -->
	<param name="server_address" type="string" value="140.93.16.160" /> 

	<!-- Distance wanted between the robot_torso body and the table edge -->
	<param name="dist_table_robot" type="double" value="0.9" /> 

	<!-- Linear and angular velocity thresholds -->
	<param name="linear_threshold" type="double" value="0.1" />
	<param name="angular_threshold" type="double" value="0.12" />	 

	<!-- Stop -->
	<param name="xy_stop" type="double" value="0.08" /> 
	<param name="theta_stop" type="double" value="0.07" /> 

	<!-- Demonstration -->
	<param name="demo" type="bool" value="true" /> 	

	<!-- Print markers for debug -->
	<param name="print_markers" type="bool" value="true" /> 

	<!-- Recovery of MoCap data -->
	<node pkg="to_table" type="Qualisys2Ros" name="Qualisys2Ros"/>

	<!-- Order computing and sending -->
	<node pkg="to_table" type="PositionFilter" name="PositionFilter"/>
	<node pkg="to_table" type="PositionManager" name="PositionManager" output="screen" args="echo /position_table2" launch-prefix="xterm -e" />

	<!-- Recording the experiment -->	
	<arg name="path" default="/local/imaroger/catkin_ws/src/to_table/bagfile/" />	
	<node pkg="rosbag" type="record" name="recorder" args="-o $(arg path) /tf /walking_controller/cmd_vel /robot_state_publisher" output="screen"/>

</launch>